.register-auth {
  background-color: rgb(238, 238, 238);
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1068%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='16.815' cx='1305.58' cy='447.56' fill='url(%23SvgjsLinearGradient1069)'%3e%3c/circle%3e%3ccircle r='18.75' cx='465.86' cy='467.49' fill='url(%23SvgjsLinearGradient1070)'%3e%3c/circle%3e%3ccircle r='37.655' cx='295.01' cy='546.94' fill='url(%23SvgjsLinearGradient1071)'%3e%3c/circle%3e%3ccircle r='45.925' cx='296.31' cy='12.8' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='52.175' cx='666.38' cy='200.27' fill='url(%23SvgjsLinearGradient1072)'%3e%3c/circle%3e%3ccircle r='43.215' cx='702.27' cy='281.99' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='32.01' cx='176.24' cy='44.88' fill='url(%23SvgjsLinearGradient1073)'%3e%3c/circle%3e%3ccircle r='48.555' cx='952.47' cy='64.5' fill='url(%23SvgjsLinearGradient1074)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1068'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='1271.9499999999998' y1='447.56' x2='1339.2099999999998' y2='447.56' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1069'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='428.36' y1='467.49' x2='503.36' y2='467.49' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1070'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='295.01' y1='471.63000000000005' x2='295.01' y2='622.25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1071'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(72%2c 70%2c 135%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='562.03' y1='200.27' x2='770.73' y2='200.27' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1072'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='112.22000000000001' y1='44.88' x2='240.26' y2='44.88' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1073'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='855.36' y1='64.5' x2='1049.58' y2='64.5' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1074'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1138%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M317.3 74.46L406.5 125.96L406.5 228.96L317.3 280.46L228.1 228.96L228.1 125.96zM228.1 228.96L317.3 280.46L317.3 383.46L228.1 434.96L138.89 383.46L138.89 280.46zM406.5 -80.04L495.71 -28.54L495.71 74.46L406.5 125.96L317.3 74.46L317.3 -28.54zM584.91 228.96L674.11 280.46L674.11 383.46L584.91 434.96L495.71 383.46L495.71 280.46zM763.32 228.96L852.52 280.46L852.52 383.46L763.32 434.96L674.11 383.46L674.11 280.46zM1120.13 228.96L1209.33 280.46L1209.33 383.46L1120.13 434.96L1030.92 383.46L1030.92 280.46zM1209.33 383.46L1298.53 434.96L1298.53 537.96L1209.33 589.46L1120.13 537.96L1120.13 434.96zM1298.53 -80.04L1387.74 -28.54L1387.74 74.46L1298.53 125.96L1209.33 74.46L1209.33 -28.54zM1566.14 383.46L1655.35 434.96L1655.35 537.96L1566.14 589.46L1476.94 537.96L1476.94 434.96z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M307 74.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM396.2 125.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM396.2 228.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM307 280.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM217.8 228.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM217.8 125.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM307 383.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM217.8 434.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM128.59 383.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM128.59 280.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM396.2 -80.04 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM485.41 -28.54 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM485.41 74.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM307 -28.54 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM574.61 228.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM663.81 280.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM663.81 383.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM574.61 434.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM485.41 383.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM485.41 280.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM753.02 228.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM842.22 280.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM842.22 383.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM753.02 434.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1109.83 228.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1199.03 280.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1199.03 383.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1109.83 434.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1020.62 383.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1020.62 280.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1288.23 434.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1288.23 537.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1199.03 589.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1109.83 537.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1288.23 -80.04 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1377.44 -28.54 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1377.44 74.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1288.23 125.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1199.03 74.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1199.03 -28.54 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1555.84 383.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1645.05 434.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1645.05 537.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1555.84 589.46 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1466.64 537.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0zM1466.64 434.96 a10.3 10.3 0 1 0 20.6 0 a10.3 10.3 0 1 0 -20.6 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M37.18 -90.6L123.78 -40.6L123.78 59.4L37.18 109.4L-49.43 59.4L-49.43 -40.6zM37.18 209.4L123.78 259.4L123.78 359.4L37.18 409.4L-49.43 359.4L-49.43 259.4zM37.18 509.4L123.78 559.4L123.78 659.4L37.18 709.4L-49.43 659.4L-49.43 559.4zM470.21 59.4L556.81 109.4L556.81 209.4L470.21 259.4L383.6 209.4L383.6 109.4zM383.6 209.4L470.21 259.4L470.21 359.4L383.6 409.4L297 359.4L297 259.4zM470.21 359.4L556.81 409.4L556.81 509.4L470.21 559.4L383.6 509.4L383.6 409.4zM556.81 -90.6L643.41 -40.6L643.41 59.4L556.81 109.4L470.2 59.4L470.2 -40.6zM556.81 209.4L643.41 259.4L643.41 359.4L556.81 409.4L470.2 359.4L470.2 259.4zM903.23 209.4L989.84 259.4L989.84 359.4L903.23 409.4L816.63 359.4L816.63 259.4zM989.84 359.4L1076.44 409.4L1076.44 509.4L989.84 559.4L903.23 509.4L903.23 409.4zM903.23 509.4L989.84 559.4L989.84 659.4L903.23 709.4L816.63 659.4L816.63 559.4zM1076.44 509.4L1163.05 559.4L1163.05 659.4L1076.44 709.4L989.83 659.4L989.83 559.4zM1509.47 359.4L1596.07 409.4L1596.07 509.4L1509.47 559.4L1422.86 509.4L1422.86 409.4z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1138'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  width: 100%;
  height: 100vh;

  .register-page {
    width: 320px;
    padding: 20px;
    box-shadow: var(--box-shadow);
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    h1 {
      margin-bottom: 50px;
      text-align: center;
      font-size: 40px;
      color: var(--light-blue);
    }
  
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
  
      .inputs {
        padding-left: 10px;
        width: 280px;
        height: 40px;
        outline: none;
        background-color: transparent;
        border: none;
        box-shadow: var(--box-shadow);
      }
      
      

      span {
        color: gray;
      }

    }

    .msg {
      margin-top: 10px;
      text-align: center;
      color: var(--fail);
    }

    .passowrd-validation {
      border: 0.3px solid var(--light-blue);
      padding: 5px;
      margin-top: 10px;
      border-radius: 5px;

      li {
        list-style: none;

        span {
          display: flex;
          align-items: center;
          gap: 5px;
          color: gray;
        }
      }
    }

    .register-btn {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
      background-color: var(--fail);
    }
  }

  
}