section {
  padding-top: 60px;
  
  .password-change {
    min-height: calc(100vh - 135px);
    padding-left: 20%;
    background-image: url(../../images/bg3.png);
  
  
    .header {
      width: 310px;
  
    }
    .title {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: start;
      margin: 10px;
    }
  
    .profile-card {
      box-shadow: var(--box-shadow);
      border: 1px solid var(--fail);
      min-width: 300px;
      padding: 7px;
      background-color: rgb(240, 240, 240);
  
      form {
        margin-top: 20px;
  
        .item {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
  
          label {
            margin-bottom: 6px;
          }
        }
      }
  
      .update-btn {
        background-color: var(--fail);
        width: 100%;
        margin-top: 10px;
      }
  
      .msg {
        margin-top: 10px;
        text-align: center;
        color: var(--fail);
      }
    }
  }

}