.password-input{
  position: relative;

  input {
    padding-left: 10px;
    width: 280px;
    height: 40px;
    outline: none;
    background-color: rgba(213, 239, 248, 0.637);
    border: none;
    box-shadow: var(--box-shadow);
  }
  
  .visiblePassword {
    position: absolute;
    top: 11px;
    left: 250px;
    cursor: pointer;
  }
}