
.add-product-section {
  display: flex;
  padding-top: 60px;

  .side-bar {
    flex: 2;
  }

  .add-product{
    padding-left: 20%;
    flex: 7;
    min-height: calc(100vh - 135px);
    background-color: rgb(238, 238, 238);
    background-image: url(../../images/bg3.png);
    display: flex;
    justify-content: center;
    align-items: center;
  
    .add-product-page {
      width: 90%;
      padding: 20px;
      margin: 20px;
      box-shadow: var(--box-shadow);
      background-color: rgb(255, 255, 255);
   
    
      h1 {
        margin-bottom: 50px;
        text-align: center;
        font-size: 30px;
        color: var(--fail);
      }
    
      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    
        .email-input {
          padding-left: 10px;
          width: 180px;
          height: 40px;
          outline: none;
          border: none;
          box-shadow: var(--box-shadow);
        }
      } 
  
      .msg {
        text-align: center;
        margin-top: 15px;
  
        span {
          color: var(--fail);
        }
      }
      
      .add-product-btn {
        margin-top: 20px;
        width: 100%;
        background-color: var(--light-blue);
      }
    }
  }
}